@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
.title {
  font-size: 4em;
  margin-top: 23vh;
  font-family: 'Otomanopee One', sans-serif;
  color:grey;
}
.desc {
  font-size: 1.5em;
  color:peru;
  font-family: 'Yomogi', cursive;
}
.App, .projectDetail, .profileDetail {
  text-align: center;
  width: 60%;
  margin: auto;
}
.homebuttons{
  width: 20vw;
  height:5vh;
  font-size: 1em;
  color: bisque;
  background-color:rgb(107, 91, 91);
  font-family: 'Yomogi';
}
.single{
  color:rgb(107, 91, 91);
}
.dash{
    width: 100% !important;
}