@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap%27');
.title {
  font-size: 6em;
  margin-top: 22vh;
  font-family: 'Share Tech Mono', monospace;
  color:#E0A458;
}
.title2 {
  font-size: 6em;
  margin-top: 10vh;
  margin-bottom: 0;
  font-family: 'Share Tech Mono', monospace;
  color:#E0A458;
}
#email, #password, #firstName, #lastName, #level, #language, #description {
  font-family: 'Ubuntu', sans-serif;
  color:#FFDBB5 !important;
  border-color: #419D78 !important;
}
.skill {
  font-family: 'Ubuntu', sans-serif;
  color:#FFDBB5 !important;
  border-color: #419D78 !important;
  margin-right: 0.2cm;
  font-size: 1.3em;
}
#hi {
  margin-top: -20% !important;
}
.desc {
  font-size: 2.5em;
  color:#FFDBB5;
  font-family: 'Ubuntu', sans-serif;
}
.App, .projectDetail, .profileDetail {
  text-align: center;
  width: 60%;
  margin: auto;
}
html {
  background-color: #2D3047;
}
.homebuttons{
  width: 20vw;
  height:10vh;
  margin-top: 3vh !important;
  font-size: 1.5em !important;
  font-family: 'Ubuntu', sans-serif;
  border-color: #FFDBB5 !important;
  color: #FFDBB5 !important;
  background-color:#419D78 !important;
}
.addbutton {
  width: 100%;
  height:5vh;
  font-size: 1em !important;
  font-family: 'Ubuntu', sans-serif;
  border-color: #FFDBB5 !important;
  color: #FFDBB5 !important;
  background-color:#419D78 !important;
}
a {
  text-decoration: none;
}
.single{
  color:#419D78;;
}

.dash{
    width: 100% !important;
}